# Solana
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json

# EURC Mint Addresses
EURC_MINT_MAINNET=HzwqbKZw8HxMN6bF2yFZNrht3c2iXXzpKcFu7uBEDKtr
EURC_MINT_DEVNET=

# RPC
RPC_URL_MAINNET=
RPC_URL_DEVNET=https://api.devnet.solana.com

# Web App
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_NETWORK=devnet
NEXT_PUBLIC_PROGRAM_ID=

# Mobile App
EXPO_PUBLIC_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_NETWORK=devnet
EXPO_PUBLIC_PROGRAM_ID=
