# Network Configuration
NEXT_PUBLIC_NETWORK=devnet

# Solana RPC Endpoints
NEXT_PUBLIC_SOLANA_RPC_DEVNET=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_RPC_MAINNET=https://api.mainnet-beta.solana.com
